{
  "mcpServers": {
    "fetch": {
      "command": "uvx",
      "args": ["mcp-server-fetch"],
      "env": {}
    },
    "mcp-chat Docs": {
      "url": "https://gitmcp.io/Homin0321/mcp-chat"
    },
    "MCP-UI Docs": {
      "command": "npx",
      "args": ["mcp-remote", "https://gitmcp.io/idosal/mcp-ui"]
    },
  }
}
